# cd commands
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Shortcuts
alias a="atom"
alias d="cd ~/Documents"
alias h="history"
alias o="open"
alias v="mvim"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias gf="git pull --rebase origin master"

# Ruby and Rails shortcuts
alias bi="bundle install --path vendor/bundle"
alias ras="rails s"
alias ras="rails c"

# IP address
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Start PostgreSQL server
alias pg="pg_ctl -D /usr/local/var/postgres -l /usr/local/var/postgres/server.log start"

# Use rmtrash not to delete stuff completely
alias rm="rmtrash"
